<div id="RSText" style="float:left; margin:0;">
	<ul>
	  <li><h1>Contact Us</h1></li>
	  	<li><h2>Support</h2><ul>
	  	<li>Love RotoStarter?  Hate it?  Tell Us!  We would love to hear from you!</li>
	  	<br>
	  	<li>For support or product feedback, please email us at <a href="mailto:support@rotostarter.com">support@rotostarter.com</a></li>
	  	<br>
	  	
	  </ul></li>
	  
	  <li><h2>Other Inquiries</h2><ul>
	  	<li>To get in touch with our Business Development team, email us at <a href="mailto:info@rotostarter.com">info@rotostarter.com</a></li>
	  	<br>
	  	<li>For all press inquiries, email us at <a href="mailto:info@rotostarter.com">info@rotostarter.com</a></li>
	  	<br>
	  </ul></li>	  
	</ul>

</div>
