<div class="container large-8">
	<h1>How Does RotoStarter Work</h1>
	<h3 class="no-margin subheader">Overview For Getting Started</h3>

		<h4 class="margin-top-2">Step 1: You Prioritize Your Batter and Pitchers</h4>
	  <img style="width:750px;padding: 10px;" src="/images/HIW-step1.png" alt="Batter Settings">
  	<ol type="a">
  		<li>Set up your Batter and your Pitcher preferences for each team knowing that RotoStarter will always try to maximize your lineup.</li>
  		<ol type="i">
	  		<li>Put players you always want to start in your "Starting Lineup".<br>
	  		</li>
	  		<li>Use your "Bench" for players you could start at multiple positions or at a flex or utility spot.</li>
	  		<li>Rank or prioritize your "Bench" so RotoStarter will fill your lineup using your bench.</li>
	  	</ol>
			<li>To preview how RotoStarter is going to set your lineup, log in and click on a team's "Batters" or "Pitchers" and then click "Preview Tomorrow".  If you don't like how the lineup is being set, adjust the team priorities.  Make sure to save your changes before previewing.</li>
  	</ol>

		<h4 class="margin-top-2">Step 2: RotoStarter Starts Your Players Every Morning</h4>
  	<img style="width:750px;padding: 10px;" src="/images/HIW-step2.png" alt="Preview Tomorrow Example">
  	<ol type="a">
  		<li>RotoStarter is a "Personal Assistant" or a "Basic Autopilot" for your fantasy baseball teams.</li>
  		<li>Every morning at 6am-7am EST, RotoStarter will maximize your lineup based on the preferences and priorities you set up.</li>
  		<li>For more on basic setup and preferences, see <a href="/static/recsettings">Recommended Settings</a>.</li>
  	</ol>

		<h4 class="margin-top-2">Step 3: You Manage and Override Your Lineup</h4>
  	<img style="width:750px;padding: 10px;" src="/images/HIW-step3.png" alt="Yahoo Override Example">
  	<ul class="disc">
  		<li>Baseball is a really long season and RotoStarter is here to help.  We'll make sure your lineup is active if and when life gets busy.</li>
  		<li>If you want manual control and flexibility, you can still to adjust your lineup every day. </li>
  		<li style="margin-left:40px;">For example, RotoStarter starts Justin Verlander in your Yahoo league because he's pitching against the Yankees today.  However, you want to bench him because you don't like the matchup.  You can log into Yahoo and bench him as you normally would.  It's as easy as that.</li>
  	</ul>

	  <%if (!@logged)%>
      <div class="container small-8 large-6 margin-top-2 margin-bottom-2">
        <h3>Sign Up For Free</h3>
        <a class="button" style="text-align:center" data-reveal-id="signup-modal">Get Started Now</a>
      </div>
		<% end %>

</div>
