<div id="bg">
  <img src="/images/bg.jpg" alt="">
</div>
<div class="home-wrapper">
  <div class="container large-10 margin-top-2">
    <div class="transparent small-12 large-7 columns">
      <div class="small-offset-1 small-10 large-offset-1 large-10">
        <h1>RotoStarter gives you the edge you need to dominate your fantasy sports leagues.</h1>
        <ul class="disc">
          <li>Sets your lineup for you every day</li>
          <li>Makes game time substitutions</li>
          <li>Autopilot for when you are on vacation</li>
        </ul>
      </div>
    </div>

    <div class="transparent small-12 large-offset-1 large-4 columns">
      <div class="small-offset-1 small-10 large-offset-1 large-10">
        <div class="">
          <h2>Try It Now For Free</h2>
          <a class="button" data-reveal-id="signup-modal">Get Started</a>
        </div>
        <div class="">
          <h2>Already Powered By RotoStarter?</h2>
          <a class="button" data-reveal-id="login-modal">Log In</a>
        </div>
      </div>
    </div>
  </div>
</div>
